grobidHome: ../grobid-home

# entity-fishing server information for performing entity disambiguation
# for https, indicate 443 as port
entityFishingHost: cloud.science-miner.com/nerd
entityFishingPort: 443
#entityFishingHost: localhost
#entityFishingPort: 8090

corpusPath: resources/dataset/software/corpus
templatePath: resources/dataset/software/crfpp-templates/software.template
tmpPath: tmp/

# path to Pub2TEI repository as available at https://github.com/kermitt2/Pub2TEI
pub2teiPath: "../../Pub2TEI/"

model:
  name: "software"
  engine: "wapiti"
  #engine: "delft"
  wapiti:
    # wapiti training parameters, they will be used at training time only
    epsilon: 0.00001
    window: 30
    nbMaxIterations: 1500
  delft:
    # deep learning parameters
    #architecture: "BidLSTM_CRF"
    architecture: "scibert"
    useELMo: false
    embeddings_name: "glove-840B"
